<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Help - OCR and Translation Tool</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<style>
    body {
            font-family: monospace;
            max-width: 800px;
            margin: 0 auto;
            padding: 20px;
        }
        h1 {
            margin-bottom: 20px;
        }
</style>
<body>
    <h1>Frequently Asked Questions</h1>
    <h2>1. What is the OCR and Translation Tool?</h2>
    <p>OCR is basically a technology that converts different types of documents, such as scanned documents, PDF, and images captured. It recognizes text characters in images and translating them into a machine-readable text.</p>
    
    <h2>2. What could be the possible limitations of the OCR and Translation Tool?</h2>
    <p>The possible limitations of the OCR and Translation Tool are basically its Accuracy Issues; sometimes there will be inaccurate translation of some words. Language Support and Processing Time; some OCRs may or may not support different languages while the processing time is just basically the waiting time of the user.</p>
    
    <h2>3. Is the OCR and Translation Tool for free?</h2>
    <p>This OCR and Translation Tool is designed and for free of use for users in the community.</p>
    
    <h2>4. What are the languages used for translation?</h2>
    <p>There are only 3 current languages that are presently used in the OCR and Translation Tool: English, Spanish, and French.</p>
</body>
</html>
